parameters:
    level: 8

    paths:
        - config
        - src
        - rules
        - rules-tests

    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - */Source/*
        - */Fixture/*

    ignoreErrors:
        # bool property
        -
             message: '#Negated boolean expression is always true#'
             path: src/NodeFactory/AssertMethodCallFactory.php

        - '#PHPDoc tag @return contains generic type PhpParser\\Node\\Stmt\\Expression<(.*?)> but class PhpParser\\Node\\Stmt\\Expression is not generic#'

        # known types
        - '#Parameter \#2 \$variable of method Rector\\PhpSpecToPHPUnit\\PhpSpecMockCollector\:\:isVariableMockInProperty\(\) expects PhpParser\\Node\\Expr\\Variable, PhpParser\\Node\\Expr\\Error\|PhpParser\\Node\\Expr\\Variable given#'

        # false positive
        - '#Parameter \#2 \$callable of method Rector\\Core\\Rector\\AbstractRector\:\:traverseNodesWithCallable\(\) expects callable\(PhpParser\\Node\)\: \(int\|PhpParser\\Node\|null\), Closure\(PhpParser\\Node\)\: \(array<PhpParser\\Node>\|PhpParser\\Node\\Expr\|null\) given#'

        # known value
        - '#Cannot call method toString\(\) on PhpParser\\Node\\Identifier\|null#'
