parameters:
    level: 8

    paths:
        - config
        - src
        - tests
        - rules
        - rules-tests

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    errorFormat: symplify

    excludePaths:
        - */Fixture/*

    ignoreErrors:
        # bool property changed inside another call, false positive
        -
             message: '#Negated boolean expression is always true#'
             path: src/NodeFactory/AssertMethodCallFactory.php

        - '#PHPDoc tag @return contains generic type PhpParser\\Node\\Stmt\\Expression<(.*?)> but class PhpParser\\Node\\Stmt\\Expression is not generic#'

        # known value
        #- '#Cannot call method toString\(\) on PhpParser\\Node\\Identifier\|null#'
        - '#Call to an undefined method PhpParser\\Node\\Expr\|PhpParser\\Node\\Identifier\:\:toString\(\)#'

        - identifier: phpstanApi.instanceofType
