parameters:
    level: 8

    paths:
        - config
        - src
        - rules
        - rules-tests

    # reportUnmatchedIgnoredErrors: false

    excludePaths:
        - */Source/*
        - */Fixture/*

    ignoreErrors:
        # rector co-variant
        - '#Parameter \#1 \$node (.*?) of method Rector\\(.*?)\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Rector\\Core\\Contract\\Rector\\RectorInterface\:\:refactor\(\)#'

        # false positive
        - '#Access to an undefined property Rector\\Core\\Contract\\PhpParser\\Node\\StmtsAwareInterface\:\:\$stmts#'

        # bool property
        -
             message: '#Negated boolean expression is always true#'
             path: src/NodeFactory/AssertMethodCallFactory.php
